<div class="layout-dashboard">


    <div class="grid" [style.display]="true ? 'flex' : 'none'">

        <div class="col-12 md:col-6 xl:col-3">
            <div class="card no-gutter widget-overview-box widget-overview-box-1"><span class="overview-icon">
                    <i class="fa-solid fa-bed-pulse"></i>
                </span><span class="overview-title">Health of animals</span>
                <div class="grid overview-detail">
                    <div class="col-6">
                        <div class="overview-number">161</div>
                        <div class="overview-subtext">Healthy</div>
                    </div>
                    <div class="col-6">
                        <div class="overview-number">2</div>
                        <div class="overview-subtext">Ilness</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 xl:col-3">
            <div class="card no-gutter widget-overview-box widget-overview-box-2"><span class="overview-icon"><i
                        class="fa-regular fa-star"></i></span><span class="overview-title">Number of Barns</span>
                <div class="grid overview-detail">
                    <div class="col-12">
                        <div class="overview-number">16</div>
                        <div class="overview-subtext">Total</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 xl:col-3">
            <div class="card no-gutter widget-overview-box widget-overview-box-3"><span class="overview-icon"><i
                        class="pi pi-users"></i></span><span class="overview-title">Number of Vets</span>
                <div class="grid overview-detail">
                    <div class="col-6">
                        <div class="overview-number">2</div>
                        <div class="overview-subtext">Working</div>
                    </div>
                    <div class="col-6">
                        <div class="overview-number">1</div>
                        <div class="overview-subtext">In vacation</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 xl:col-3">
            <div class="card no-gutter widget-overview-box widget-overview-box-4"><span class="overview-icon"><i
                        class="pi pi-comment"></i></span><span class="overview-title">Messages from ministry</span>
                <div class="grid overview-detail">
                    <div class="col-6">
                        <div class="overview-number">4</div>
                        <div class="overview-subtext">Unread</div>
                    </div>
                    <div class="col-6">
                        <div class="overview-number">55</div>
                        <div class="overview-subtext">Total</div>
                    </div>
                </div>
            </div>
        </div>

    </div> 
</div> 