 
<div class="layout-topbar">
    <div class="topbar-left">
        <!-- <a tabindex="0" class="menu-button"><i class="pi pi-chevron-left"></i></a> -->
        <img id="logo-horizontal"
            src="assets/layout/images/logo_white.svg" alt="diamond-layout" class="horizontal-logo" tabindex="0">
   
        <img id="logo-mobile" alt="diamond-layout" class="mobile-logo" src="assets/layout/images/logo.svg">
    </div>
    <app-menu>
    </app-menu>
    <div class="layout-mask modal-in"></div>
    <div class="topbar-right">
        <ul class="topbar-menu">
            <!-- <li class="search-item"><a tabindex="0"><i class="pi pi-search"></i></a></li> -->
            <li class="notifications-item"><a href="#" tabindex="0"><i class="pi pi-bell"></i><span
                        class="topbar-badge">5</span></a>
               
            </li>
            <li class="profile-item"><a><img src="assets/images/user-profile.svg"
                        class="profile-image"><span class="profile-name">
                        John Doe
                    </span></a> 
            </li>
            <li class="right-sidebar-item"><a href="#" tabindex="0"><i class="pi pi-align-right"></i></a></li>
        </ul>
    </div>
</div>